* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: aqua;
}
.wrapper {
    width: 1200px;
    height: 1206px;
    top: 40px;
    left: 40px;
    border-radius: 40px;
    background: #fff;
    margin: 0 auto;

    display: flex;
    padding: 20px;
    gap: 50px;
}

aside {
    background: #E0EBFEB2;
    border-radius: 40px;
}

.interest {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    row-gap: 2px;
}

.assidewrapper{
    padding: 40px;
}

.buttons-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

ol {
    padding-left: 0;
    padding-left: 20px;
}

.orderedAchivement{
    font-weight: bold;
}

ul {
    font-weight: normal;
}

.buttonForm {
    width: 290px;
    height: 50px;
    border: none;
    border-radius: 16px;
    font-weight: bold;

}

.addFriend {
    background-color: #7549EA;
    color: white;
}

.inviteFriend {
    background-color: #7449ea00;
    color: #7549EA;
    border: solid 1px #7549EA;
}

.int {
    height: 25px;
    width: auto;

    border-radius: 6px;
    border: none;

    padding: 0 8px;
    background-color: #7549EA33;
    color: #7549EA;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 5px 0;
}